#cloud-config
# Rendered by Terraform (compute.tf). Files are emitted with yamlencode so
# that shell scripts and manifests need no YAML escaping.
package_update: true
packages:
  - curl
  - unzip
  - jq
  - openssl
  - gettext-base

write_files:
${yamlencode(write_files)}

runcmd:
  # Log goes to /var/log/paas-bootstrap.log; re-runnable by hand:
  #   sudo /usr/local/sbin/paas-bootstrap
  - [bash, -c, "/usr/local/sbin/paas-bootstrap 2>&1 | tee -a /var/log/paas-bootstrap.log"]
